<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwConfigExceptions="true"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <variable name="logDirectory" value="d:\temp\output"/>

  <targets>


    <target
      name="logfileError" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${machinename} | ${logger} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_error.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_SMSService_error.{###}.txt"
      archiveAboveSize="5000000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "2"
    />
 
    <target
      name="ipFilter" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_IpFilter.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_IpFilter.{###}.txt"
      archiveAboveSize="5000000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "2"
    />


    <target xsi:type="Null" name="blackhole" />

  </targets>
  <rules>

    <!-- IP Filter logging-->
    <logger name="JN.IpFilter.Middleware.IpFilterMiddleware" level="info" writeTo="ipFilter" final="true"/>
    <!--ignore other messages-->
    <logger name="JN.IpFilter.Middleware.IpFilterMiddleware" writeTo="blackhole" final="true"/>


    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logfileError" />




  </rules>
</nlog>